In [334]:
import pandas as pd

In [335]:
matches=pd.read_csv('matches.csv')

In [ ]:
matches.head()

In [ ]:
matches.tail()

In [ ]:
matches.insert(3,'ball used','white')

In [ ]:
matches

In [304]:
matches.loc[2,'city']

'Rajkot'

In [ ]:
matches.loc[2:5,'city']

In [ ]:
matches.iloc[2:5,1]

In [ ]:
matches.head(100)

In [ ]:
matches.city.unique

In [ ]:
matches[matches['city']=='mumbai'].value_counts()

In [ ]:
matches.isnull().sum().sum()

In [ ]:
matches[matches['city']=='mumbai'].value_counts().value_counts()

In [ ]:
matches['venue'].max()

In [ ]:
matches[matches['season']== 2008].count()

In [ ]:
matches[matches['season']==2008].shape[0]

In [ ]:
matches['city'].max()

In [336]:
city_counts = matches['city'].value_counts()
city_counts

city
Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: count, dtype: int64

In [ ]:
city_counts.idxmin()

In [ ]:
matches[matches['toss_decision']=='field']

In [ ]:
matches[(matches['toss_winner'] == 'Royal Challengers Bangalore') &
        (matches['toss_decision'] == 'bat')].shape[0]

In [ ]:
matches.groupby(['toss_winner', 'toss_decision']).size()

In [ ]:
matches.win_by_runs.describe()

In [303]:
matches[matches['result']=='tie']

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
33,34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
125,126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
189,190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
387,388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
400,401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
475,476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
535,536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN
705,11146,2019,Delhi,30/03/19,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
746,11342,2019,Mumbai,02/05/19,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore

In [ ]:
m=matches['player_of_match'].value_counts()
n=m>3

In [ ]:
n.value_counts()

In [ ]:
u1=matches.umpire1.value_counts()
u2=matches.umpire2.value_counts()
u3=matches.umpire3.value_counts()
u1

In [ ]:
(u1+u2+u3).idxmax()

In [ ]:
matches['season'].value_counts()

In [ ]:
matches

In [346]:
deliveries=pd.read_csv('deliveries.csv')
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [347]:
df_grouped = deliveries.groupby('match_id').sum()
df_grouped

,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
match_id,,,,,,,,,,,,,,,,,,,,
1,371,Sunrisers HyderabadSunrisers HyderabadSunriser...,Royal Challengers BangaloreRoyal Challengers B...,2571,900,DA WarnerDA WarnerDA WarnerDA WarnerDA WarnerS...,S DhawanS DhawanS DhawanS DhawanS DhawanDA War...,TS MillsTS MillsTS MillsTS MillsTS MillsTS Mil...,0,9,0,2,2,0,366,13,379,DA WarnerS DhawanMC HenriquesYuvraj SinghMande...,caughtcaughtcaughtbowledbowledcaughtrun outcau...,Mandeep SinghSachin BabySachin BabyDA WarnerBC...
2,369,Mumbai IndiansMumbai IndiansMumbai IndiansMumb...,Rising Pune SupergiantRising Pune SupergiantRi...,2593,890,PA PatelPA PatelPA PatelJC ButtlerPA PatelPA P...,JC ButtlerJC ButtlerJC ButtlerPA PatelJC Buttl...,AB DindaAB DindaAB DindaAB DindaAB DindaAB Din...,0,9,1,2,0,0,359,12,371,PA PatelRG SharmaJC ButtlerAT RayuduKH PandyaN...,bowledbowledlbwcaught and bowledcaughtcaughtca...,MS DhoniR BhatiaMA AgarwalMS DhoniRG SharmaN R...
3,314,Gujarat LionsGujarat LionsGujarat LionsGujarat...,Kolkata Knight RidersKolkata Knight RidersKolk...,2056,793,JJ RoyJJ RoyJJ RoyJJ RoyJJ RoyJJ RoyBB McCullu...,BB McCullumBB McCullumBB McCullumBB McCullumBB...,TA BoultTA BoultTA BoultTA BoultTA BoultTA Bou...,0,13,4,2,0,0,348,19,367,JJ RoyBB McCullumAJ FinchKD Karthik,caughtlbwcaughtcaught,YK PathanKuldeep YadavKuldeep Yadav
4,369,Rising Pune SupergiantRising Pune SupergiantRi...,Kings XI PunjabKings XI PunjabKings XI PunjabK...,2548,916,AM RahaneMA AgarwalMA AgarwalMA AgarwalMA Agar...,MA AgarwalAM RahaneAM RahaneAM RahaneAM Rahane...,Sandeep SharmaSandeep SharmaSandeep SharmaSand...,0,14,0,2,0,0,311,16,327,MA AgarwalAM RahaneSPD SmithMS DhoniBA StokesD...,bowledcaughtcaughtcaught and bowledcaught and ...,MP StoinisM VohraGJ MaxwellMK TiwaryBA Stokes
5,372,Royal Challengers BangaloreRoyal Challengers B...,Delhi DaredevilsDelhi DaredevilsDelhi Daredevi...,2587,897,CH GayleSR WatsonSR WatsonSR WatsonSR WatsonSR...,SR WatsonCH GayleCH GayleCH GayleCH GayleCH Ga...,Z KhanZ KhanZ KhanZ KhanZ KhanZ KhanCH MorrisC...,0,8,0,3,0,0,288,11,299,CH GayleMandeep SinghSR WatsonSTR BinnyVishnu ...,caughtbowledstumpedcaughtrun outcaughtbowledbo...,SV SamsonRR PantSW BillingsS NadeemCH MorrisB ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11347,328,Kolkata Knight RidersKolkata Knight RidersKolk...,Mumbai IndiansMumbai IndiansMumbai IndiansMumb...,2230,838,S GillCA LynnCA LynnS GillS GillS GillS GillS ...,CA LynnS GillS GillCA LynnCA LynnCA LynnCA Lyn...,MJ McClenaghanMJ McClenaghanMJ McClenaghanMJ M...,0,9,0,2,2,0,267,13,280,S GillCA LynnKD KarthikAD RussellN RanaRV Utha...,lbwcaughtcaughtcaughtcaughtcaughtcaughtcaught,Q de KockKH PandyaQ de KockKA PollardRG Sharma...
11412,350,Chennai Super KingsChennai Super KingsChennai ...,Mumbai IndiansMumbai IndiansMumbai IndiansMumb...,2405,847,F du PlessisF du PlessisF du PlessisF du Pless...,SR WatsonSR WatsonSR WatsonSR WatsonSR WatsonS...,SL MalingaSL MalingaSL MalingaSL MalingaSL Mal...,0,8,0,2,3,0,263,13,276,F du PlessisSK RainaSR WatsonM VijayRG SharmaQ...,caughtcaughtcaughtstumpedlbwcaughtbowledcaught,J YadavJ YadavQ de KockF du PlessisImran Tahir
11413,376,Sunrisers HyderabadSunrisers HyderabadSunriser...,Delhi CapitalsDelhi CapitalsDelhi CapitalsDelh...,2679,930,WP SahaWP SahaMJ GuptillWP SahaMJ GuptillWP Sa...,MJ GuptillMJ GuptillWP SahaMJ GuptillWP SahaMJ...,TA BoultTA BoultTA BoultTA BoultTA BoultTA Bou...,0,10,1,2,1,0,327,14,341,WP SahaMJ GuptillMK PandeyKS WilliamsonV Shank...,caughtcaughtcaughtbowledcaughtcaughtcaughtcaug...,SS IyerK PaulS RutherfordAR PatelAR PatelRR Pa...
11414,355,Delhi CapitalsDelhi CapitalsDelhi CapitalsDelh...,Chennai Super KingsChennai Super KingsChennai ...,2454,854,P ShawP ShawP ShawP ShawP ShawS DhawanP ShawS ...,S DhawanS DhawanS DhawanS DhawanS DhawanP Shaw...,DL ChaharDL ChaharDL ChaharDL ChaharDL ChaharD...,0,8,0,10,1,0,298,19,317,P ShawS DhawanC MunroSS IyerAR PatelS Rutherfo...,lbwcaughtcaughtcaughtcaughtcaughtbowledcaughtb...,MS DhoniDJ BravoSK RainaImran TahirSR WatsonDJ...
11415,372,Mumbai IndiansMumbai IndiansMumbai IndiansMumb...,Chennai Super KingsChennai Super KingsChennai ...,2582,895,Q de KockRG SharmaQ de KockQ de KockQ de KockQ...,RG SharmaQ de KockRG SharmaRG SharmaRG SharmaR...,DL ChaharDL ChaharDL ChaharDL ChaharDL ChaharD...,0,7,5,0,0,0,297,12,309,Q de KockRG SharmaAS YadavKH PandyaIshan Kisha...,caughtcaughtbowledcaughtcaughtlbwcaughtrun out...,MS DhoniMS DhoniSN ThakurSK RainaF du PlessisF...

In [339]:
df_grouped.index.rename('id', inplace=True)

In [340]:
df_grouped2=pd.merge(matches,df_grouped,on='id')

In [293]:
df_grouped2

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,2,2,0,366,13,379,DA WarnerS DhawanMC HenriquesYuvraj SinghMande...,caughtcaughtcaughtbowledbowledcaughtrun outcau...,Mandeep SinghSachin BabySachin BabyDA WarnerBC...
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,...,1,2,0,0,359,12,371,PA PatelRG SharmaJC ButtlerAT RayuduKH PandyaN...,bowledbowledlbwcaught and bowledcaughtcaughtca...,MS DhoniR BhatiaMA AgarwalMS DhoniRG SharmaN R...
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,...,4,2,0,0,348,19,367,JJ RoyBB McCullumAJ FinchKD Karthik,caughtlbwcaughtcaught,YK PathanKuldeep YadavKuldeep Yadav
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,...,0,2,0,0,311,16,327,MA AgarwalAM RahaneSPD SmithMS DhoniBA StokesD...,bowledcaughtcaughtcaught and bowledcaught and ...,MP StoinisM VohraGJ MaxwellMK TiwaryBA Stokes
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,...,0,3,0,0,288,11,299,CH GayleMandeep SinghSR WatsonSTR BinnyVishnu ...,caughtbowledstumpedcaughtrun outcaughtbowledbo...,SV SamsonRR PantSW BillingsS NadeemCH MorrisB ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,...,0,2,2,0,267,13,280,S GillCA LynnKD KarthikAD RussellN RanaRV Utha...,lbwcaughtcaughtcaughtcaughtcaughtcaughtcaught,Q de KockKH PandyaQ de KockKA PollardRG Sharma...
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,...,0,2,3,0,263,13,276,F du PlessisSK RainaSR WatsonM VijayRG SharmaQ...,caughtcaughtcaughtstumpedlbwcaughtbowledcaught,J YadavJ YadavQ de KockF du PlessisImran Tahir
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,...,1,2,1,0,327,14,341,WP SahaMJ GuptillMK PandeyKS WilliamsonV Shank...,caughtcaughtcaughtbowledcaughtcaughtcaughtcaug...,SS IyerK PaulS RutherfordAR PatelAR PatelRR Pa...
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,...,0,10,1,0,298,19,317,P ShawS DhawanC MunroSS IyerAR PatelS Rutherfo...,lbwcaughtcaughtcaughtcaughtcaughtbowledcaughtb...,MS DhoniDJ BravoSK RainaImran TahirSR WatsonDJ...
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,5,0,0,0,297,12,309,Q de KockRG SharmaAS YadavKH PandyaIshan Kisha...,caughtcaughtbowledcaughtcaughtlbwcaughtrun out...,MS DhoniMS DhoniSN ThakurSK RainaF du PlessisF...

In [312]:
df_grouped2.groupby('season')['total_runs'].sum()

season
2008    17937
2009    16353
2010    18883
2011    21154
2012    22453
2013    22602
2014    18931
2015    18353
2016    18862
2017    18786
2018    20706
2019    20270
Name: total_runs, dtype: int64

In [349]:
top_batsman=deliveries.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)
top_batsman

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [366]:
wicket=deliveries.groupby('bowler')['player_dismissed']
wicket